<header class="p-2 bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-6 my-auto">
        <h1>User Management</h1>
      </div>
      <div class="col-1 offset-sm-4 my-auto" *ngIf="currentUser">
        <a
          class="pe-auto fs-3 link-underline-dark link-light"
          (click)="details()"
          style="cursor: pointer"
        >
          {{ currentUser.userName }}
        </a>
        <button class="btn btn-danger" type="button" (click)="logout()">
          LogOut
        </button>
      </div>
    </div>
  </div>
</header>
