/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(200, 200, 200);
}

form {
  background-color: white;
}
.btn {
  transform: scale(1);
  transition: transform 300ms;
}
.btn:hover {
  transform: scale(1.05);
}
