<div class="container mt-4 table-responsive" *ngIf="usersList; else noList">
  <table class="table table-striped table-hover caption-top">
    <caption class="container-fluid">
      <div class="d-flex justify-content-sm-between align-items-sm-end">
        <span>List of User</span>
        <form [formGroup]="searchForm" class="form-inline">
          <input
            class="forn-control p-1 border-0"
            type="text"
            placeholder="Search a name"
            formControlName="searchItem"
          />
          <button
            class="btn btn-outline-success my-auto"
            (click)="search(searchForm.value)"
          >
            Search
          </button>
        </form>
      </div>
    </caption>

    <thead class="table-dark align-middle">
      <tr>
        <th class="fs-4" scope="col" (click)="sort('id')">
          <div class="row">
            <div class="col d-flex justify-content-start align-items-center">
              <img class="h-25" [src]="sortImage()" />
              <span class="mx-1">ID</span>
            </div>
          </div>
        </th>
        <th class="fs-4" scope="col">Name</th>
        <th class="fs-4" scope="col">Username</th>
        <th class="fs-4" scope="col">Email</th>
        <th class="fs-4" scope="col">Phone</th>
        <th class="fs-4" scope="col">Address</th>
        <th class="fs-4" scope="col" *ngIf="hasLogin()"></th>
        <th class="fs-4" scope="col" *ngIf="hasLogin()">
          <button class="btn btn-success" (click)="onCreateUser()">
            <img
              src="../../../assets/img/add-user.png"
              style="height: 24px"
            />Create
          </button>
        </th>
      </tr>
    </thead>
    <tbody
      class="table-group-divider align-middle"
      *ngIf="usersList.length > 0; else noUser"
    >
      <tr *ngFor="let user of usersList">
        <th scope="row">{{ user.id }}</th>
        <td>{{ user.name.firstName }} {{ user.name.lastName }}</td>
        <td>{{ user.userName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phoneNumber }}</td>
        <td>
          {{ user.address.streetNumber }} {{ user.address.streetName }}
          {{ user.address.city }} {{ user.address.zipCode }}
        </td>

        <td *ngIf="hasLogin()">
          <button
            *ngIf="hasLogin()"
            class="btn btn-info"
            type="button"
            (click)="showDetails(user.id)"
          >
            <img src="../../../assets/img/search.png" style="height: 24px" />
            Details
          </button>
        </td>
        <td *ngIf="hasLogin()">
          <button
            class="btn btn-danger"
            type="button"
            (click)="onDeleteUser(user.id)"
          >
            <img
              src="../../../assets/img/delete.png"
              style="height: 25px"
            />Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #noUser>
    <div class="fs-4">No Users</div>
  </ng-template>
</div>
<div class="container mt-4">
  <div class="text-center alert alert-danger fs-4" *ngIf="deleted" role="alert">
    <span>User has been deleted</span>
  </div>
</div>
<ng-template #noList>
  <h1 class="text-center alert alert-danger mt-3">No List</h1>
</ng-template>
